
<div class="p-2">
  <div class="d-flex justify-content-center">
    <h1>Toolbar: </h1>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Todo group</mat-label>
      <mat-select
        (selectionChange)="onSelectTodoGroup($event)"
        [value] = "initialTodoGroup"
      >

        <mat-option *ngFor="let todoGroup of (getTodoGroup$ | async)" [value]="{todoGroupId:todoGroup.id, todoGroupName:todoGroup.name}">
          {{todoGroup.name}}(TeamId: {{todoGroup.teamId}})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button
    *ngIf="currentTodoGroupName"
    (click)="onCreateTodoItem()"
          mat-raised-button
          color="primary"
          class="p-3"
  >
    Create new todo for <strong>{{currentTodoGroupName}}</strong>
  </button>
  <div class="toggle-group-container">
    <mat-label>Status filter</mat-label>
    <mat-button-toggle-group multiple [value]='todoStatus' (change)="onToggleStatus($event)">
      <mat-button-toggle *ngFor="let status of Object.values(TaskStatus)" [value]="status">
        {{status}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="toggle-group-container">
    <mat-label>Tag filter</mat-label>
    <mat-button-toggle-group multiple [value]='todoTag' (change)="onToggleTag($event)">
      <mat-button-toggle *ngFor="let tag of Object.values(TaskTag)" [value]="tag">
        {{tag}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="toggle-group-container">
    <mat-label>Due date sorter</mat-label>
    <mat-button-toggle-group [value]='dateSequenceSort' (change)="onToggleDateSequence($event)">
      <mat-button-toggle *ngFor="let dateSort of Object.values(SortSequence)" [value]="dateSort">
        {{dateSort}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="toggle-group-container">
    <mat-label>Priority sorter</mat-label>
    <mat-button-toggle-group [value]='prioritySort' (change)="onTogglePriority($event)">
      <mat-button-toggle *ngFor="let priority of Object.values(SortSequence)" [value]="priority">
        {{priority}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
