<form [formGroup]="todoForm">

  <!-- Inner Container for all fields -->
  <div class="container">
    <h1>{{ data.isEditMode ? 'Edit todo' : 'Add todo' }}</h1>

    <!-- Name Input -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput id="description" formControlName="description"></textarea>
    </mat-form-field>

    <!-- Due Date Input -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Due Date</mat-label>
      <input matInput type="date" id="dueDate" formControlName="dueDate">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select id="status" formControlName="status">
        <mat-option [value]="taskStatus.NotStarted">{{taskStatus.NotStarted}}</mat-option>
        <mat-option [value]=taskStatus.InProgress>{{taskStatus.InProgress}}</mat-option>
        <mat-option [value]="taskStatus.Completed">{{taskStatus.Completed}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tag</mat-label>
      <mat-select id="tag" formControlName="tag">
        <mat-option [value]="taskTag.work">{{taskTag.work}}</mat-option>
        <mat-option [value]=taskTag.errend>{{taskTag.errend}}</mat-option>
        <mat-option [value]="taskTag.hobby">{{taskTag.hobby}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Priority</mat-label>
      <mat-select id="priority" formControlName="priority">
        <mat-option [value]=1>{{1}}</mat-option>
        <mat-option [value]=2>{{2}}</mat-option>
        <mat-option [value]=3>{{3}}</mat-option>
        <mat-option [value]=4>{{4}}</mat-option>
        <mat-option [value]=5>{{5}}</mat-option>

      </mat-select>
    </mat-form-field>

    <!-- Submit Button -->
    <button
      mat-raised-button
      (click)="onSubmit()"
      [disabled]="!todoForm.valid"
      color="primary"
    >{{ data.isEditMode ? 'Edit' : 'Create' }}</button>

  </div> <!-- End of Inner Container -->

</form>

